<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Airport</title>
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet">
</head>
<body>
<div class="container">

    <hr>
    <h2> Save Airport</h2>

    <form action="#" th:action="@{/saveAirport}" th:object="${airport}" method="POST">
        <p th:text="${error}" class="text-danger"></p>
        <input type="text" th:field="*{airportCode}"
               placeholder="Enter airport code" class="form-control mb-4 col-4">

        <input type="text" th:field="*{airportName}"
               placeholder="Enter airport name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{countryName}"
               placeholder="Enter country name" class="form-control mb-4 col-4">


        <input type="text" th:field="*{numberOfAnnuallyPassengers}"
               placeholder="Enter number of annual passengers" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Save Airport</button>
    </form>

</div>

</body>
</html>